<%if @restaurant.errors.any? %>
<section id="errors_explanation">
	<p>
		<%= pluralize(@restaurant.errors.count, "error")%> prohibited this restaurant from being saved
	</p>
	<ul>
		<% @restaurant.errors.full_messages.each do |message|%>
		<li><%= message%></li>
		<%end%>
	</ul>
</section>
<%end%>
<%= form_for @restaurant, :html => { :multipart => true } do |f| %>
  <%= f.label :name%>
  <%= f.text_field :name %>
  <%= f.label :description %>
  <%= f.text_area :description, size: "60x12" %>
  <%= f.label :cuisine%>
  <%= f.text_field :cuisine %>
  <%= f.label :location%>
  <%= f.text_field :location %>
  <%= f.label :Average_price_per_meal%>
  <%= f.text_field :price %>
  <%= f.file_field :image %>
  <%= f.submit %>
<% end %>