<h1> "Welcome Ethel</h1>
<%if @restaurants.any? %>
	<%@restaurants.each do |restaurant| %>
		<ul class="restaurant">
			 <li class="name"> <%=link_to restaurant.name, restaurant_path(restaurant)%></li>
			 <%= image_tag restaurant.image.url(:thumb) %>
		<li class="description"><%= restaurant.description %></li>
		<li class="rating"><%= star_rating(restaurant.average_rating) %></li>
		<%= button_to 'Edit' , edit_restaurant_path(restaurant), method: :get%>
		<%= button_to 'Delete' , restaurant_path(restaurant), method: :delete%>
		</ul>
	<%end%>
<%else %>
	<h1>No restaurants</h1>
<%end%>

<%= link_to 'Create restaurant', new_restaurant_path %>