

<%if @restaurants.any? %>
	<%@restaurants.each do |restaurant| %>
		<ul class="restaurant">
			 <li class="name"> <%=link_to restaurant.name, restaurant_path(restaurant)%></li>
		<li class="description"><%= restaurant.description %></li>
		<li class="rating"><%= restaurant.rating %></li>
		<%= button_to 'Edit' , edit_restaurant_path(restaurant)%>
		</ul>
	<%end%>
<%else %>
	<h1>No restaurants</h1>
<%end%>

<%= link_to 'Create restaurant', new_restaurant_path %>