<section class="restaurant-details">
	<h1><%=@restaurant.name %></h1>
	<p><%=@restaurant.description %></p>
	<p>Average Rating &nbsp;<%= star_rating(@restaurant.average_rating) %></p>
	<p><%=@restaurant.location %> | <%=@restaurant.cuisine %> | <%= price_category_pound(@restaurant.price_category) %>
	</p>
</section>
<section class="reviews">
	<% if !@restaurant.reviews.any? %>

		<p>No reviews</p>

	<% else %>

		<h2>Reviews</h2>

		<% @restaurant.reviews.each do |review|%>

			<li class='review'><%= image_tag User.find(review.user_id).image.url(:thumb) %>
				<i><%= User.find(review.user_id).email %></i>   
			</li>

				<div class="review-wrapper">
				<u>
					<%= star_rating(review.rating) %> 
					<%= time_ago_in_words(review.created_at) %> ago
				</u>
				</br></br>
				<%= review.content%></br></br>
				<div>
					Like the review...?
					<%= link_to 'Endorse it!', review_endorsements_path(review), class: 'endorsement-link' %> </br>
					<span class='endorsement-count'> <%= pluralize(review.endorsements.count, "endorsement") %> 
					</span>
					</div>
				</div> 
			
		<% end %>

	<% end %>

</section>

<p><%= link_to 'Leave Review', new_restaurant_review_path(@restaurant) %></p>