<%if @review.errors.any? %>
<section id="errors_explanation">
  <p>
    <%pluralize(@review.errors.count, "error")%> prohibited this review from being saved
  </p>
  <ul>
    <% @review.errors.full_messages.each do |message|%>
    <li><%= message%></li>
    <%end%>
  </ul>
</section>
<%end%>

<%= form_for [@restaurant, @review] do |f| %>
  <%= f.label :content %>
  <%= f.text_area :content, size: "60x12" %>
  <%= f.label :rating %>
  <%= f.range_field :rating, in: 1..5 %>
  <%= f.submit "Post Review" %>
<% end %>
<%= link_to "Back", :back %>